body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
  
table {
  margin: .3em;
  width: 290px;
}

th {
  padding: .2em;
}

td {
  background-color: #ffc;
  border: 1px solid black;
}

.centerCell {
  text-align: center;
}

#C02 {
    color: red;
}

#luftkvalitet {
    color: orange;
}

#lydniveau {
    color: red;
}
